.btn {
  width: 80px;
  cursor: pointer;
}

.comeToMiddle {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 8px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}

.secondChild {
  margin-top: 14px;
}

.thirdChild {
  margin-top: 14px;
}

.active .firstChild {
  animation: ease 0.7s top forwards;
}

.not-active .firstChild {
  animation: ease 0.7s top-2 forwards;
}

.active .secondChild {
  animation: ease 0.7s scaled forwards;
}

.not-active .secondChild {
  animation: ease 0.7s scaled-2 forwards;
}

.active .thirdChild {
  animation: ease 0.7s bottom forwards;
}

.not-active .thirdChild {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 22px;
    transform: rotate(0);
  }

  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }

  50% {
    top: 22px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
